@using NetDuino.Models;
@model NetDuino.Models.ArduinoViewModel

@{
    ViewBag.Title = "Arduino";
}

<h2>Arduino</h2>w 

<h1>@Model.Arduino.Name</h1>
@foreach (var item in Model.Arduino.Components)
{
    <p>@item.ComponentName</p>
    <p>@item.Port</p>
    <p>@item.Arduino.Name</p>
}

@Html.Action("GetComponentMenu", new { Id = Model.Arduino.Id });
