@using NetDuino.Models;
@model NetDuino.Models.ArduinoViewModel

@{
    ViewBag.Title = "Arduino";
}

<h1>@Model.Arduino.Name</h1>
<div class="grid-stack grid-stack-24">  

     @foreach (var item in Model.Arduino.Components)
     {
         
        <div class="grid-stack-item"
             data-gs-x="@item.PositionX" data-gs-y="@item.PositionY"
             data-gs-width="@item.Width" data-gs-height="@item.Height"
             data-component-id="@item.Id">
            <div class="grid-stack-item-content">
                @foreach (var itemvalue in item.GetValues())
                {
                    <span>@itemvalue.Key</span>
                    <span>@itemvalue.Value</span>
                }
            </div>
        </div>
     }
</div>



@Html.Action("GetComponentMenu", new { Id = Model.Arduino.Id })

@section scripts 
{
    <script>
        $(function () {
            var options = {
                cellHeight: 'auto',
                verticalMargin: 10,
                float: true,
                width: 24,
                height: 10
            };
            $('.grid-stack').gridstack(options);
            $('.grid-stack').on('dragstop', function (event, ui) {
                var grid = this;
                var element = event.target;
                var data = {
                    "posX" : element.getAttribute("data-gs-x"),
                    "posY" : element.getAttribute("data-gs-y"),
                    "elementId" :element.getAttribute("data-component-id")
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdatePosition")',
                    data: JSON.stringify(data),
                    contentType: 'application/json'
                });
            });


        });
    </script>
}