<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />

    @Styles.Render("~/Content/css")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/gridstack.min.css" rel="stylesheet" />
    <link href="~/Content/gridstack-extra.css" rel="stylesheet" />
</head>
<body>
    <div class="top-menu-outer">
        <div class="navbar">
            <div class="navbar-header">
                @Html.ActionLink("NetDuino", "Index", "Home", new { area = "" }, new { @class = "navbar-home" })
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/lodash.js")
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/gridstack.js"></script>
    <script src="~/Scripts/gridstack.jQueryUI.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
